In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [4]:
start_date = '2018-01-01'
end_date = '2022-12-31'
stock = ["GOOGL", "AAPL", "ORCL", "MSFT", "AMZN"]
close = yf.download(stock, start_date, end_date)["Close"]

[*********************100%***********************]  5 of 5 completed

In [5]:
close_5=close.shift(5)

In [9]:
alpha = -(close - close_5)
alpha

                AAPL      AMZN     GOOGL      MSFT      ORCL
Date
2018-01-02       NaN       NaN       NaN       NaN       NaN
2018-01-03       NaN       NaN       NaN       NaN       NaN
2018-01-04       NaN       NaN       NaN       NaN       NaN
2018-01-05       NaN       NaN       NaN       NaN       NaN
2018-01-08       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2022-12-23  2.649994  2.610001  1.029999  5.960007 -1.269997
2022-12-27  2.339996  1.879997  1.050003  3.489990 -0.480003
2022-12-28  6.260002  3.370003  3.000000  7.270004  0.610001
2022-12-29  5.839996  2.589996  1.130005  3.419998  0.099998
2022-12-30  2.300003 -0.209999 -0.470001 -1.630005 -1.250000

[1259 rows x 5 columns]

In [ ]:
alpha.sub

In [8]:
def setting(alpha):
    # Set weight > 0
    alpha = alpha.sub(alpha.min(axis=1), axis=0)
    # Normalize
    alpha = alpha.div(alpha.sum(axis=1), axis=0)
    # Set none if nan > 20
    di = alpha.index.where(alpha.isnull().sum(axis = 1) >= 20)
    di = di[~np.isnan(di)]
    alpha.loc[di] = None
    # Max stock weight = 0.2
    alpha[alpha > 0.2] = 0.2
    return alpha

alpha = setting(alpha)

            AAPL      AMZN     GOOGL  MSFT      ORCL
Date
2018-01-02   NaN       NaN       NaN   NaN       NaN
2018-01-03   NaN       NaN       NaN   NaN       NaN
2018-01-04   NaN       NaN       NaN   NaN       NaN
2018-01-05   NaN       NaN       NaN   NaN       NaN
2018-01-08   NaN       NaN       NaN   NaN       NaN
...          ...       ...       ...   ...       ...
2022-12-23   0.2  0.200000  0.132718   0.2  0.000000
2022-12-27   0.2  0.200000  0.143259   0.2  0.000000
2022-12-28   0.2  0.158076  0.136884   0.2  0.000000
2022-12-29   0.2  0.197933  0.081876   0.2  0.000000
2022-12-30   0.2  0.200000  0.168360   0.0  0.055153

[1259 rows x 5 columns]

In [13]:
alpha[alpha.index<20090000]

TypeError: Invalid comparison between dtype=datetime64[ns] and int